.admin-panel{
    width: 100%;
}

.data-wrapper{
    background-color: var(--body-background);
    overflow-y: auto;
    padding-left: calc(280px + 10px);
    padding-right: 10px;
    min-height: 85vh;
    max-width: 100vw;
}

.admin-panel .layout-wrapper{
    flex: 1;
    /* flex-grow: 1; */
}

@media screen and (max-width:769px) {
    .data-wrapper {
        padding-left: 10px;
    }
}

@media screen and (max-width:425px) {
    /* .content-body div:first-child{
        display: flex;
        flex-direction: row;
    }
    
    .content-body div:first-child .input-search{
        display: flex;
        flex-direction: column;
        max-width: 80vw;
    } */
}
