.events .content-body input[type = 'checkbox']{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-left: 5px;
    -webkit-appearance: none;
    appearance: none;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid gainsboro;
    border-radius: 4px; /* Add border-radius for rounded corners */
    cursor: pointer;
    display: inline-block;
    font-size: 1.2rem; /* Adjust font size */
    line-height: 1.4;
    padding: 0.5rem;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.events .content-body input[type = 'checkbox']:checked{
    background-color: #3498db; /* Change background color when checked */
    border-color: #3498db; /* Change border color when checked */
    color: #fff; /* Change text color when checked */
}