.content-header{
    margin-top: 30px;
}

.admin-panel .content{
    padding: 20px;
}

.breadcrumb a{
    color: var(--secondary-color);
    text-decoration: none;
}

.btn-edit{
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}
.btn-edit:hover{
    background-color: var(--secondary-color-hover);
    border-color: var(--secondary-color-hover);
}
